body{

    color: white;
    text-shadow: 0.5px 0.5px red;
    background: linear-gradient(black, black, black, darkred, darkred, red);
    background-color: black;
    background-repeat: no-repeat;
    background-position: 0px 330px;

}

h1{

    text-align: center;

}

#backpage{

    font-size: 15px;
    font-style: oblique;
    color: white;
    
}

#backpage:hover{

    opacity: 0.95;

}

#backpage:not(:hover){

    opacity: 0.15;

}

.loadicon{

    animation: fadeIn 20s infinite;
    position: fixed;
    top: 150px;
    bottom: 0px;
    left: 525px;
    right: 0px;

}

.loadicon .loading_message{

    margin-top: 20px;
    margin-left: -60px;

}

.progress{

    background-color: black;
    border-style: ridge;
    border-width: 4.5px;
    border-color: #8f0303;
    height: 10px;
    margin-top: 455px;
    margin-left: 415px;
    position: relative;
    width: 550px;

}

.progress .progress-bar{
   
    animation: progress-animation 20s infinite;
    background-color: #8f0303;
    height: 100%;
    position: absolute;
    

}

@keyframes progress-animation{

    0% { width: 0%; }
    100% { width: 100% }
    
}

@keyframes fadeIn {
    
    0% { opacity: 0; }
    100% { opacity: 1; }

}