@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}

body{

    background: linear-gradient(black, black, black, darkred, red);
    background-color: black;
    background-repeat: no-repeat;
    background-position: 0px 400px;

}

.id_label{

    display: block;
    margin-top: 250px;
    text-align: center;

}

label{

    font-family: 'Alkatra', cursive;
    color: red;
    text-shadow: 0.5px 0.5px lightgray;
    font-size: 20px;
    margin-right: 7.5px;

}

input[type = 'text']{

    background-color: black;
    color: white;
    width: 245px;
    height: 25px;
    text-shadow: 0.75px 0.75px red;
    margin-top: 5px;
    text-align: center;

}

input[type = 'submit']{

    color: white;
    font-family: 'Alkatra', cursive;
    background: -webkit-linear-gradient(bottom, #f4f4f4, red, black 70%);
    margin-top: 10px;
    margin-left: 98px;
    text-align: center;
    width: 195px;

}

input[type = submit]:hover{

    background-color: red;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    background: -webkit-linear-gradient(bottom, black, red, #f4f4f4);
    cursor: not-allowed;

}