body{

    color: white;
    background-color: black;
}

h1{

    text-align: center;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px red;

}

#logo{

    text-align: center;
}

label{

    color:red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: block;
    margin-left: 600px;
    margin-right: auto;
    width: 25%;
    text-shadow: 0.5px 0.5px lightgray;

}

input[type = text]{
    
    background-color: black;
    color: red;
    width: 20%;
    padding: 12px 20px;
    margin: 20px 200px;
    box-sizing: border-box;
    border-radius: 5px solid red;
    font-style: italic;
    display: block;
    margin-top: 0.25%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    text-align: center;
    text-shadow: 0.5px 0.5px red;

}

input[type = password]{

    background-color: black;
    color: red;
    width: 20%;
    padding: 12px 20px;
    margin: 20px 170px;
    box-sizing: border-box;
    border-radius: 5px solid red;
    font-style: italic;
    display: block;
    margin-top: 0.25%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    text-align: center;
    text-shadow: 0.5px 0.5px red;

}

input[type = submit]{

    color: rgba(255, 255, 255, 0.692);
    font-size: 25px;
    background-color: red;
    border-radius: 12px;
    background: -webkit-linear-gradient(bottom, #f4f4f4, red, black 70%);
    padding: 12px 15px;
    margin: 20px 200px;
    display: block;
    margin-top: 4.5%;
    margin-left: 505px;
    margin-right: auto;
    width: 25%;
    cursor: not-allowed;

}

input[type = submit]:hover{

    background-color: red;
    background: -webkit-linear-gradient(bottom, black, black, red, lightgray, #f4f4f4);

}

#forgotpassword{

    color: red;
    font-size: 20px;
    font-family: sans-serif;
    margin: 20px 20px 0px;
    display: block;
    margin-top: 2%;
    margin-left: 545px;
    margin-right: auto;
    width: 25%;
    text-shadow: 1px 1px white;

}